<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{home.pdf.title}" />
</head>
<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{/pdf}" method="post"
			enctype="multipart/form-data" id=pdf_form>
			<label for="pdf_file" class="form-label"><th:block
					th:text="#{home.pdf.input.label}"></th:block></label>
			<div class="form-group row">
				<div class="col-sm-10">
					<input class="form-control" type="file" id="pdf_file"
						name="pdfFile">
				</div>
				<button type="submit" form="pdf_form" class="btn btn-info col-sm-2">
					<th:block th:text="#{home.pdf.btn.text}"></th:block>
				</button>
			</div>
		</form>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_version" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.version}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_version" type="text"
						th:placeholder="#{home.pdf.info.version.placeholder}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_validity" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.validity}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_validity" type="text"
						th:placeholder="#{home.pdf.info.validity.placeholder}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_ada" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.ada}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_ada" type="text"
						th:placeholder="#{home.pdf.info.ada.placeholder}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_fonts" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.fonts}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_fonts" type="text"
						th:placeholder="#{home.pdf.info.fonts.placeholder}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_restrictions" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.restrictions}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_restrictions" type="text"
						th:placeholder="#{home.pdf.info.restrictions.placeholder}"
						readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_pages" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.pages}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_pages" type="text"
						th:placeholder="#{home.pdf.info.pages.placeholder}"
						th:value="${pdfPages}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_size" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.size}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_size" type="text"
						th:placeholder="#{home.pdf.info.size.placeholder}" readonly>
				</div>
			</div>
		</div>
		<div class="form-group row mt-3">
			<div class="col">
				<label for="pdf_language" class="form-label col-sm-2"><th:block
						th:text="#{home.pdf.info.language}"></th:block></label>
				<div class="col-sm-10">
					<input class="form-control" id="pdf_language" type="text"
						th:placeholder="#{home.pdf.info.language.placeholder}" readonly>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
